*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #D6E5E3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D3319;
  -webkit-box-shadow: 1px 1px 8px #aaa;
          box-shadow: 1px 1px 8px #aaa;
  color: #CACFD6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 8px;
  max-height: 56px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .menu-toggler {
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 12px;
  padding: calc((56px - 12px) / 2);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

header h1 {
  font-size: 1.25rem;
  font-weight: normal;
  font-variant-caps: small-caps;
  margin: 0;
  padding: 0;
}

main {
  height: calc(100vh - 56px - 24px - (8px * 2));
  overflow: auto;
  overflow-x: hidden;
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #517664;
  color: #CACFD6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .75rem;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  padding: 0 calc(8px * 2);
  position: -webkit-sticky;
  position: sticky;
  bottom: -8px;
}

.menu-wrapper {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 99999;
}

.menu-wrapper.hide {
  opacity: 0;
}

.menu-wrapper.hide .menu {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.menu-wrapper .menu {
  background-color: #517664;
  height: 100%;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 80%;
}

.menu-wrapper .menu .menu__section {
  padding: 0;
}

.menu-wrapper .menu .menu__section .menu__element {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2D3319;
  color: #CACFD6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  line-height: 1rem;
  padding: calc((48px - 1rem) / 2);
}

.menu-wrapper ul {
  margin: 0;
}

.card {
  background-color: #517664;
  color: #CACFD6;
  margin: 8px;
  padding: 0 8px 8px;
}

.card .card__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CACFD6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  min-height: 32px;
}

.card .card__title .card__title__num {
  font-size: 1.5rem;
  font-variant: lining-nums;
  line-height: 2rem;
}

.card .card__title .card__title__num,
.card .card__title .card__title__text {
  margin: 8px;
}

.card .card__content {
  line-height: 1.25rem;
  padding-top: 8px;
}

#search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CACFD6;
  border: none;
  color: #2D3319;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.15rem;
  height: 32px;
  margin: 8px;
  outline: none;
  padding: 8px;
  width: calc(100% - 8px * 2);
}
/*# sourceMappingURL=app.css.map */