$primary: #CACFD6;
$secondary: #D6E5E3;
$accent: #9FD8CB;
$light: #517664;
$dark: #2D3319;
$spacer: 8px;
$header-height: 56px;
$footer-height: 24px;
$main-height: calc(100vh - #{$header-height} - #{$footer-height} - (#{$spacer} * 2));
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: $secondary;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
}

header {
    align-items: center;
    background-color: $dark;
    box-shadow: 1px 1px 8px #aaa;
    color: $primary;
    display: flex;
    height: $header-height;
    justify-content: left;
    margin-bottom: $spacer;
    max-height: 56px;
    position: sticky;
    top: 0;

    .menu-toggler{
        cursor: pointer;
        font-family: sans-serif;
        font-weight: bold;
        line-height: 12px;
        padding: calc((56px - 12px) / 2);
        transform: rotate(-90deg);
    }

    h1 {
        font-size: 1.25rem;
        font-weight: normal;
        font-variant-caps: small-caps;
        margin: 0;
        padding: 0;
    }
}

main {
    height: $main-height;
    overflow: auto;
    overflow-x: hidden;
}

footer {
    align-items: center;
    background-color: $light;
    color: $primary;
    display: flex;
    font-size: .75rem;
    height: $footer-height;
    justify-content: center;
    margin-top: $spacer;
    padding: 0 calc(#{$spacer} * 2);
    position: sticky;
    bottom: -$spacer;
}

.menu-wrapper{
    background: rgba(0,0,0,.6);
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    visibility: visible;
    z-index: 99999;

    &.hide{
        opacity: 0; 
        visibility: hidden;
        .menu{
            transform: translate(-100%, 0);
        }
    }

    .menu {
        background-color:$light;
        height: 100%;
        transform-origin: 0% 0%;
        transform: translate(0, 0);
        transition: transform .5s cubic-bezier(0.77,0.2,0.05,1.0);
        width: 80%;

        .menu__section{
            list-style: none;
            padding: 0;

            .menu__element{

                a {
                    align-items: center;
                    border-bottom: 1px solid $dark;
                    color: $primary;
                    display: flex;
                    height: 47px;
                    line-height: 1rem;
                    padding: calc((48px - 1rem) / 2);
                    text-decoration: none;
                }
            }
        }

    }

    ul {
        margin: 0;
    }
}

.card {
    background-color: $light;
    color: $primary;
    margin: $spacer;
    padding: 0 $spacer $spacer;
    .card__title {
        align-items: center;
        border-bottom: 1px solid $primary;
        display: flex;
        font-weight: bold;
        min-height: 32px;
        .card__title__num {
            font-size: 1.5rem;
            font-variant: lining-nums;
            line-height: 2rem;
        }
        .card__title__num,
        .card__title__text {
            margin: $spacer;
        }
    }
    .card__content {
        line-height: 1.25rem;
        padding-top: $spacer;
    }

    &.hide {
        display: none;
    }
}

#search {
    align-items: center;
    background-color: $primary;
    border: none;
    color: $dark;
    display: flex;
    font-size: 1.15rem;
    height: 32px;
    margin: $spacer;
    outline: none;
    padding: $spacer;
    width: calc(100% - #{$spacer} * 2);
}